body {
    background-color:lightblue;
}
body, div, p {
    padding: 0;
    margin: 0 auto;
}
div {
    border: 0px solid rgb(38, 0, 252);
}
.top-nav {
    height: 128px;
    width: 1920px;
    margin: 0 auto;
}            
.content{    
    width: 820px;
    height: 820px;
}
.main{
    width: 1690px;
    margin: 0 auto;
    overflow: hidden;
}
.footer{
    margin: 0 auto;
}
.butn {
    width: 90px;
    background: #e21a1a;
    border-radius: 10px;
    font-family: Arial;
    color: black;
    font-size: 28px;
    padding: 10px 28px 10px 28px;
    text-decoration: none;
}
.butn:hover {
    background: #3cb0fd;
    text-decoration: none;
}
#title1{
    font-family: Arial;
    font-size: 100px;
    color:black;
    text-align: center;
}            
#footer1{
    font-size: 26px;
    text-align: -moz-left;
}
.title2{
    font-family: Arial;
    color: black;
    text-align: center;
    font-size: 23px;
}
.title3{
    font-family: Arial;
    color: black;
    text-align: center;
    font-size: 23px;
}
#form1{
    align-content: center;    
    text-align: center;
}
#about_me{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: rgb(20, 180, 220);
}    
.info1{
    font-family: "Source Code Pro",sans-serif;
    font-size: 23px;
    color: rgb(0, 60, 255);
    text-align: center;
}
.info2{
    font-family: "Source Code Pro",sans-serif;
    font-size: 23px;
    color: rgb(0, 60, 255);
    text-align: center;
}
#txt3{
    font-family: Cambria,sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;
}
